.navbar {
    height: 100px;
    padding-top: 10px;
}

.belowbar {
    display: none;
}

.geneplore {
    width: 300px;
}

.svg-icon {
    width: 30px;
}

.cookie-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.column {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.discord {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.api {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.subscriptions {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ultra {
    margin-bottom: -490px;
}

footer {
    margin-top: 200px;

}

.geneplore2 {
    width: 350px;
}

.learn-more {
    position: relative;
    display: inline-flex;
    padding: 15px 60px;
    color: #141414;
    background: #ffffff00;
    border-radius: 40px;
    letter-spacing: 1px;
    font-family: 'Montserrat';
    font-weight: medium;
    margin-top: 50px;
}

.learn-more:hover {
    cursor: pointer;
    transition: 0.4s;
    background: indigo radial-gradient(circle, transparent 1%, #7100c1 1%) center/15000%;
    color: white;
}

.learn-more:active {
    cursor: pointer;
    transition: background 0.3s;
    background: #9500ff;
    color: white;
    background-size: 100%;
}

.bot-sec {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 150px;
}

@media screen and (max-width: 1170px) {
    .subscriptions {
        display: grid;
        grid-template-columns: repeat(2, 400px);
        row-gap: 50px;
    }

    .ultra {
        margin-left: 250px;
    }
}

@media screen and (max-width:1020px) {
    .column {
        gap: 20px;
    }
}

@media screen and (max-width:890px) {

    .subscriptions {
        grid-template-columns: none;
    }

    .ultra {
        margin-left: 0;
    }

    .geneplore2 {
        width: 280px;
    }
}

@media screen and (max-width:860px) {
    .geneplore2 {
        width: 260px;
    }

    .discord {
        display: grid;
        row-gap: 20px;
    }

    .api {
        display: grid;
        row-gap: 20px;
    }

    .bot-sec {
        display: grid;
        row-gap: 20px;
    }
}

@media screen and (max-width:820px) {
    .geneplore2 {
        width: 240px;
    }

    .geneplore {
        width: 280px;
    }
}

@media screen and (max-width:790px) {
    .geneplore {
        width: 270px;
    }
}

@media screen and (max-width:780px) {
    .geneplore {
        width: 260px;
    }
}

@media screen and (max-width:770px) {
    .geneplore {
        width: 250px;
    }
}

@media screen and (max-width:767px) {
    .belowbar {
        display: block;
    }

    .column {
        gap: 30px;
    }

    .discord-title {
        font-family: 'Noto Sans';
        text-align: center;
    }

    .api-title {
        font-family: 'Noto Sans';
        text-align: center;
    }

    .discord-text {
        font-family: 'Noto Sans';
        text-align: center;
    }


    footer {
        height: 520px;
    }
}

@media screen and (max-width:640px) {
    footer {
        height: 650px;
    }
}

@media screen and (max-width:600px) {
    .column {
        display: grid;
    }
}

@media screen and (max-width:500px) {
    .geneplore {
        width: 290px;
    }

    .bot-sec {
        padding-left: 10px;
    }

    .cookie-buttons {
        display: grid;
    }
}

@media screen and (max-width:490px) {
    .geneplore {
        width: 280px;
    }
}

@media screen and (max-width:480px) {
    .geneplore {
        width: 270px;
    }
}

@media screen and (max-width:470px) {
    .geneplore {
        width: 260px;
    }
}

@media screen and (max-width:460px) {
    .geneplore {
        width: 250px;
    }
}

@media screen and (max-width:450px) {
    .geneplore {
        width: 240px;
    }
}

@media screen and (max-width:440px) {
    .geneplore {
        width: 230px;
    }
}

@media screen and (max-width:430px) {
    .geneplore {
        width: 220px;
    }

    .svg-icon {
        width: 28px;
    }

    .navbar {
        height: 90px;
    }
}

@media screen and (max-width:420px) {
    .geneplore {
        width: 210px;
    }

    .svg-icon {
        width: 26px;
    }

    .navbar {
        height: 80px;
    }
}

@media screen and (max-width:410px) {
    .geneplore {
        width: 200px;
    }

    .svg-icon {
        width: 24px;
    }

    .navbar {
        height: 70px;
    }
}

@media screen and (max-width:400px) {
    .geneplore {
        width: 190px;
    }

    .svg-icon {
        width: 22px;
    }

    .navbar {
        height: 65px;
    }
}

@media screen and (max-width:390px) {
    .geneplore {
        width: 180px;
    }

    .svg-icon {
        width: 21px;
    }

    .navbar {
        height: 60px;
    }
}

@media screen and (max-width:380px) {
    .geneplore {
        width: 170px;
    }

    .svg-icon {
        width: 19px;
    }
}

@media screen and (max-width:370px) {
    .geneplore {
        width: 160px;
    }

    .svg-icon {
        width: 18px;
    }
}
