.geneplore {
    width: 300px;
}

.svg-icon {
    width: 30px;
}

@media screen and (max-width:500px) {
    .geneplore {
        width: 290px;
    }
}

@media screen and (max-width:490px) {
    .geneplore {
        width: 280px;
    }
}

@media screen and (max-width:480px) {
    .geneplore {
        width: 270px;
    }
}

@media screen and (max-width:470px) {
    .geneplore {
        width: 260px;
    }
}

@media screen and (max-width:460px) {
    .geneplore {
        width: 250px;
    }
}

@media screen and (max-width:450px) {
    .geneplore {
        width: 240px;
    }
}

@media screen and (max-width:440px) {
    .geneplore {
        width: 230px;
    }
}

@media screen and (max-width:430px) {
    .geneplore {
        width: 220px;
    }

    .svg-icon {
        width: 28px;
    }
}

@media screen and (max-width:420px) {
    .geneplore {
        width: 210px;
    }

    .svg-icon {
        width: 26px;
    }
}

@media screen and (max-width:410px) {
    .geneplore {
        width: 200px;
    }

    .svg-icon {
        width: 24px;
    }
}

@media screen and (max-width:400px) {
    .geneplore {
        width: 190px;
    }

    .svg-icon {
        width: 22px;
    }
}

@media screen and (max-width:390px) {
    .geneplore {
        width: 180px;
    }

    .svg-icon {
        width: 21px;
    }
}

@media screen and (max-width:380px) {
    .geneplore {
        width: 170px;
    }

    .svg-icon {
        width: 19px;
    }
}

@media screen and (max-width:370px) {
    .geneplore {
        width: 160px;
    }

    .svg-icon {
        width: 18px;
    }
}