
.navbar {
    height: 100px;
    padding-top: 10px;
}

.sidebar {
    display: none !important;
}

.lang-span2 {
    display: none;
}

.nav-ul {
    gap: 30px;
}

.nav-home {
    display: block;
    padding: 2px;
    padding-left: 3px;
    padding-right: 4px;
    display: inline-block;
    color: blueviolet;
    border-radius: 1px;
    text-decoration: none;
    background: linear-gradient(to right, #e116dd, #9500c2);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 100% 4px;
}

.nav-link {
    display: block;
    padding-top: 2px;
    padding-left: 3px;
    padding-right: 4px;
    color: #7e7c7f;
    display: inline-block;
    text-decoration: none;
    background: linear-gradient(to right, #c20ada, #9300bb);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 0% 4px;
    transition: background-size 0.5s ease;
}

.nav-link:hover {
    color: #8e0fc5;
    background-size: 100% 4px;
}

.und-link {
    display: block;
    display: inline-flex;
    text-decoration: none;
    background: linear-gradient(to right, #6f0ada, #911ef7);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 0% 4px;
    transition: background-size 0.5s ease;
}

.und-link:hover {
    color: #8e0fc5;
    background-size: 100% 4px;
}

.belowbar {
    display: none;
}

.geneplore {
    width: 300px;
}

.svg-icon {
    width: 30px;
}

.cookie-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.stat-cards {
    position: relative;
    z-index: 10;
    top: -100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.column {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.discord {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.api {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.subscriptions {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ultra {
    margin-bottom: -490px;
}

footer {
    margin-top: 200px;

}

.geneplore2 {
    width: 350px;
}

.learn-more {
    position: relative;
    display: inline-block;
    padding: 15px 60px;
    color: #272727;
    background: #ffffff00;
    background-repeat: no-repeat;
    background-size: 0% 0%;
    transition: background 0.5s ease;
    border-radius: 40px;
    letter-spacing: 1px;
    font-family: 'Montserrat';
    font-weight: medium;
    margin-top: 50px;
}

.learn-more:hover {
    cursor: pointer;
    background: #8c00ff;
    color: white;
    background-size: 100% 100%;
    background-position: center left;
}

.bot-sec {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 150px;
}

.gradient-text {
    background: -webkit-linear-gradient(75deg, #4d0c82, #ff29c2 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(75deg, #2d0053, #d522d5 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-family: 'Neue Haas Grotesk Display Pro';
}

@media screen and (max-width: 1170px) {
    .subscriptions {
        display: grid;
        grid-template-columns: repeat(2, 400px);
        row-gap: 50px;
    }

    .ultra {
        margin-left: 250px;
    }
}

@media screen and (max-width:1020px) {
    .column {
        gap: 20px;
    }
}

@media screen and (max-width:950px) {
    .nav-ul {
        gap: 15px;
    }

    .navbar {
        height: 90px;
    }
}

@media screen and (max-width:900px) {
    .lang-span {
        display: none;
    }
}

@media screen and (max-width:890px) {

    .subscriptions {
        grid-template-columns: none;
    }

    .ultra {
        margin-left: 0;
    }

    .geneplore2 {
        width: 280px;
    }

    .nav-ul {
        gap: 10px;
    }
}

@media screen and (max-width:860px) {

    .svg-icon {
        width: 27px;
    }

    .geneplore2 {
        width: 260px;
    }

    .discord {
        display: grid;
        row-gap: 20px;
    }

    .api {
        display: grid;
        row-gap: 20px;
    }

    .bot-sec {
        display: grid;
        row-gap: 20px;
    }
}

@media screen and (max-width:820px) {
    .geneplore2 {
        width: 240px;
    }

    .geneplore {
        width: 280px;
    }

    .svg-icon {
        width: 20px;
    }
}

@media screen and (max-width:790px) {
    .geneplore {
        width: 270px;
    }
}

@media screen and (max-width:780px) {
    .geneplore {
        width: 260px;
    }
}

@media screen and (max-width:770px) {
    .geneplore {
        width: 250px;
    }
}

@media screen and (max-width:767px) {
    /* .belowbar {
        display: block;
    } */

    .column {
        gap: 30px;
    }

    .discord-title {
        font-family: 'Noto Sans';
        text-align: center;
    }

    .api-title {
        font-family: 'Noto Sans';
        text-align: center;
    }

    .discord-text {
        font-family: 'Noto Sans';
        text-align: center;
    }


    footer {
        height: 520px;
    }

    .column {
        display: grid;
    }

    .lang-button {
        display: none !important;
    }

    #theme-toggle {
        display: none;
    }

    .svg-icon {
        display: none;
    }
}

@media screen and (max-width:710px) {
    .stat-cards {
        display: grid;
    }
}

@media screen and (max-width:640px) {
    footer {
        height: 650px;
    }
}

@media screen and (max-width:639px) {

    .sidebar {
        display: block !important;
    }
}

@media screen and (max-width:500px) {
    .geneplore {
        width: 290px;
    }

    .bot-sec {
        padding-left: 10px;
    }

    .cookie-buttons {
        display: grid;
    }
}

@media screen and (max-width:490px) {
    .geneplore {
        width: 280px;
    }
}

@media screen and (max-width:480px) {
    .geneplore {
        width: 270px;
    }
}

@media screen and (max-width:470px) {
    .geneplore {
        width: 260px;
    }
}

@media screen and (max-width:460px) {
    .geneplore {
        width: 250px;
    }
}

@media screen and (max-width:450px) {
    .geneplore {
        width: 240px;
    }
}

@media screen and (max-width:440px) {
    .geneplore {
        width: 230px;
    }
}

@media screen and (max-width:430px) {
    .geneplore {
        width: 220px;
    }

    .svg-icon {
        display: none;
    }

    .navbar {
        height: 90px;
    }
}

@media screen and (max-width:420px) {
    .geneplore {
        width: 210px;
    }

    .navbar {
        height: 80px;
    }
}

@media screen and (max-width:410px) {
    .geneplore {
        width: 200px;
    }

    .svg-icon {
        width: 24px;
    }

    .navbar {
        height: 70px;
    }
}

/* @media screen and (max-width:400px) {
    .geneplore {
        width: 190px;
    }

    .svg-icon {
        width: 22px;
    }

    .navbar {
        height: 65px;
    }
}

@media screen and (max-width:390px) {
    .geneplore {
        width: 180px;
    }

    .svg-icon {
        width: 21px;
    }

    .navbar {
        height: 60px;
    }
}

@media screen and (max-width:380px) {
    .geneplore {
        width: 170px;
    }

    .svg-icon {
        width: 19px;
    }
}

@media screen and (max-width:370px) {
    .geneplore {
        width: 160px;
    }

    .svg-icon {
        width: 18px;
    }
}

@media screen and (max-width:360px) {
    .svg-icon {
        width: 16px;
    }
} */
